.button_primary {
  /* color: #2196F3; */
  /* border: 1px solid #bbb; */
  background-color: green;
	color: white;
	width: 60px;
	height: 30px;
}

.button_default {
  background-color: red;
  color: white;
  width: 60px;
  height: 30px;
}

.button_return {
  background-color: #4CAF50;
  color: white;
  font-size: 17px;
  /* width: 60px;
  height: 30px; */
}

.button_sell {
  background-color: #4CAF50;
  color: white;
  font-size: 15px;
  outline: 1px solid black;
  /* width: 60px;
  height: 30px; */
}
