/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right: 1px solid #bbb
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  text-size: 20px;
  color: white;
}

.topnav a.rightAlign {
  float:right;
  /* background-color: #98AFC7; */
  border-right: none;
}

.topnav a.rightAlignActive {
  float:right;
  /* background-color: #98AFC7; */
  border-right: none;
  background-color: #4CAF50;
  color: white;
}


/* Auction Item  */
.auction {
  /* background-color: #777799 */
}

.auction h1 {
  text-align: center;
  color: #4CAF50;
  /* text-color: #4CAF50; */
}

.auction table {
  /* align-self: center; */
  /* float: right; */
  margin: auto;
  border: 1px solid black;
}

tr, th, td{
  border: 1px solid green;
}

/* Selling item shit */
.selling h1{
  text-align: center;
  color: #4CAF50;
}

.selling table {
  margin: auto;
  border: 1px solid black
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Item page */

.posts {
  margin-top: 30px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 10px;
  border-style: groove;
}

.reviews{
  margin-top: 30px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 10px;
  border-style: groove;
}

.discussion {
  float: left;
  width: 33.33%;
}

.itemDes {
  padding: 40px;
  flex: 50%;
}

.itemImg {
  float: left;
  width: 30%;
}

.itemDesc {
  float: left;
  width: 60%;
  margin-left: 2%;
  /* text-color: #4CAF50; */
}

.itemImg img {
  max-width: 100%;
  max-height: 100%;
}

.itemDesc h2 {
  color: #4CAF50;
  /* text-color: #4CAF50; */
}

.whopost {
  float: left;
  width: 5%;
}

/* Style the tab */
.tab {
 overflow: hidden;
 border: 1px solid #ccc;
 background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
 background-color: inherit;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
 background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
 background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
 display: none;
 padding: 6px 12px;
 border: 1px solid #ccc;
 border-top: none;
} 

/* Footer */
.footer {
  position: fixed;
  bottom:0;
  left: 46%;
  text-align: center;
}
